usuario-unidades-component {
    .select-shadow {
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        opacity: 0;
        display: none;
        transition: opacity 0.4s;
        background-color: rgba(0, 0, 0, .5);
        position: absolute;

        &.open {
            width: 100%;
            opacity: 1;
            display: block;
        }
    }

    .select {
        opacity: 0;
        bottom: 0;
        position: absolute;
        transition: height 0.4s, opacity 0.4s;
        width: 100%;
        height: 0;
        background-color: white;
        overflow: auto;
        display: flex;
        flex-wrap: wrap;

        &.open {
            z-index: 999;
            opacity: 1;
            bottom: 0;
            height: 250px;
        }

        .select-item {
            text-align: center;
            font-size: 17px;
            padding-top: 10px;
            padding-bottom: 10px;
            min-width: 33.3%;

            &:nth-child(odd) {
                background: #fff;
            }

            &:nth-child(even) {
                background: #f1f1f1;
            }
        }
    }

    .unidades {
        display: flex;
        flex-direction: column;

        .unidade {
            display: flex;
            flex-direction: row;
            background-color: #fff;
            padding: 0;
            padding-left: 5px;
            margin-top: 15px;
            padding-right: 5px;

            .unidade-info,
            .unidade-provas {
                display: flex;
                flex-direction: column;
                flex: 1;
                text-align: center;
                border-right: 1px solid #e5e5e5;
                padding-top: 10px;
                padding-bottom: 10px;

                &:last-child {
                    border: 0;
                }

                span {
                    font-size: 20px;
                    font-weight: 400;

                    &.red {
                        color: darkred;
                    }

                    &.green {
                        color: green;
                    }
                }
            }

            .unidade-info {
                min-width: 90px;
            }

            .unidade-provas {

            }
        }
    }
}
