<div class="unidades" *ngIf="usuario && usuario.unidades && usuario.unidades.length">
    <div class="unidade" *ngFor="let unidade of usuario.unidades">
        <div class="unidade-info">
            <label>{{unidade.nome}}</label>
            <span>{{unidade.media}}</span>
        </div>

        <div class="unidade-provas" *ngFor="let prova of unidade.provas" (click)="escolherNota(prova)">
            <label>{{prova.nome}}</label>
            <span [ngClass]="{'red': prova.nota < 7, 'green': prova.nota >= 7}">{{prova.nota}}</span>
        </div>
    </div>
</div>

<div class="select-shadow" [ngClass]="{'open': selectMode}" (click)="selectMode=false"></div>
<div class="select" [ngClass]="{'open': selectMode}">
    <div class="select-item" *ngFor="let nota of notas" (click)="selectNota(nota)">
        {{nota}}
    </div>
</div>
