<ion-header>
</ion-header>

<ion-content class="content bootstrap" [style.backgroundImage]="'url(assets/images/background-mobile.jpg)'">

    <login-form-component></login-form-component>

</ion-content>
