.turma-wrapper {
    display: flex;
    flex-direction: row;
    background-color: #7ab8c3;
    padding: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .turma {
        width: 100px;
        border: 1px dashed #ffffff;
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        margin-right: 5px;
        padding: 5px;
        margin-top: 15px;

        span {
            font-size: 11px;
            text-transform: uppercase;
            color: #ffffff;
            text-align: center;

            &:first-child {
                font-weight: 300;
            }

            &:last-child {
                font-weight: 500;
            }
        }

        &.selecionada {
            background-color: #ffffff;

            span {
                color: #7ab8c3;
            }
        }
    }
}
