<div class="turma-wrapper" *ngIf="turmas && turmas.length">
    <div class="turma"
         *ngFor="let $turma of turmas"
         (click)="selectTurma($turma)"
         [ngClass]="{'selecionada': $turma.id_turma == turma.id_turma &&
                                    $turma.disciplina.id_disciplina == turma.disciplina.id_disciplina}">

        <span>{{$turma.disciplina.nome}}</span>
        <span>{{$turma.nome}}</span>
    </div>
</div>
