<div class="profile-wrapper" [style.backgroundImage]="'url(assets/images/background-mobile.jpg)'">

    <!--[style.backgroundImage]="'url('assets/images/logo-gde-mobile.png')'"-->
    <div class="hexagon-wrapper">
        <div class="hexagono" [style.backgroundImage]="'url(assets/images/hexagon-blue.png)'">
            <i class="fa fa-question-circle" aria-hidden="true"></i>
        </div>
        <span>Como Utilizar</span>
    </div>

    <div class="user-wrapper">
        <div class="user-image" [style.backgroundImage]="usuario.foto ? 'url(' + usuario.foto + ')' : ''"></div>
        <span>{{usuario.nome}}</span>
    </div>

    <div class="hexagon-wrapper" (click)="logout()">
        <div class="hexagono" [style.backgroundImage]="'url(assets/images/hexagon-red.png)'">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <span>Sair do Sistema</span>
    </div>

</div>
