home-profile-component {
    .profile-wrapper {
        display: flex;
        flex-direction: row;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        min-height: 190px;

        .user-wrapper {
            flex: 1;
            display: flex;
            flex-direction: column;

            .user-image {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                border: 2px solid #ffffff;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 15px;
                background-color: #333;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }

            span {
                color: #ffffff;
                text-align: center;
                margin-top: 5px;
            }
        }
    }

    .hexagon-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 85px;
        width: 45px;
        margin: 15px 25px;
        text-align: center;

        .hexagono {
            width: 45px;
            height: 45px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        i {
            font-size: 21px;
            color: #fff;
        }

        span {
            color: #fff;
            font-size: 12px;
            line-height: 15px;
            font-weight: 500;
        }
    }

}
