usuario-grid-component {

    .usuarios-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;

        .usuario {
            max-width: 100px;
            min-height: 120px;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 15px;
            display: flex;
            position: relative;
            flex-direction: column;
            justify-content: start;

            .image {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 8px;
                background-repeat: no-repeat;
                background-position: center center;
                -webkit-background-size: cover;
                background-size: cover;
                border: 1px solid #dedede;
            }

            .name {
                font-size: 14px;
                color: #333;
                text-align: center;
                font-weight: 500;
            }

            .check {
                width: 35px;
                height: 35px;
                right: 0;
                top: -5px;
                position: absolute;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                display: flex;
                align-items: center;
                justify-content: center;

                &.presenca {
                    background-image: url("../../../../assets/images/poliigon-green.png");

                    .fa-times {
                        display: none;
                    }
                }

                &.falta {
                    background-image: url("../../../../assets/images/poliigon-red.png");
                }

                &.falta_justificada {
                    background-image: url("../../../../assets/images/poliigon-yellow.png");
                }

                &.falta, &.falta_justificada {
                    .fa-check {
                        display: none;
                    }
                }

                i {
                    position: absolute;
                    font-size: 17px;
                    color: #ffffff;
                }
            }
        }
    }

}
