<div class="usuarios-wrapper">
    <div class="usuario" *ngFor="let $usuario of usuarios" (click)="selectUsuario($usuario)">

        <div class="check" *ngIf="check" [ngClass]="{
            'presenca': $usuario.frequencia == FREQUENCIA.PRESENCA,
            'falta': $usuario.frequencia == FREQUENCIA.FALTA,
            'falta_justificada': $usuario.frequencia == FREQUENCIA.FALTA_JUSTIFICADA
        }">
            <i class="fa fa-check" aria-hidden="true"></i>
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>

        <div class="image" [style.backgroundImage]="$usuario.foto ? 'url(' + $usuario.foto + ')' : ''"></div>
        <div class="name">
            {{$usuario.nome}}
        </div>
    </div>
</div>
