home-page {

    width: 100%;
    height: 100%;
    position: absolute;

    .scroll-content {
        background-color: #f3f4f7;
    }

    .home-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    escola-rect-component {
        width: 90%;
        position: relative;
        min-height: 150px;
        margin: 0px auto;
        margin-top: -15px;
        box-shadow: 0px 10px 10px rgba(0,0,0,.1);
    }

    home-profile-component {
        min-height: 190px;
    }

    home-menu-component {
        flex: 1;
        position: relative;
    }

}
