<ion-content class="gray-bg">

    <div class="home-wrapper">

        <home-profile-component></home-profile-component>

        <escola-rect-component></escola-rect-component>

        <home-menu-component></home-menu-component>

    </div>

</ion-content>
