<div class="escola-wrapper" *ngIf="!escola" (click)="click()">
    ...
</div>

<div class="escola-wrapper" *ngIf="escola" (click)="click()">
    <div class="escola">
        <div class="escola-imagem" [style.backgroundImage]="'url('+escola.foto+')'"></div>
        <div class="escola-nome">
            {{escola.nome}}
        </div>
    </div>

    <div class="escola-info-wrapper">
        <div class="ano-letivo" *ngIf="anoLetivo">
            Ano Letivo <span>{{anoLetivo.nome}}</span>
        </div>
        <div class="turma" *ngIf="turma">
            {{turma.disciplina?.nome}} <span>{{turma.nome}}</span>
        </div>
    </div>
</div>
