escola-rect-component {
    .escola-wrapper {
        width: 100%;
        height: 150px;
        position: absolute;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;

        .escola {
            flex: 1;
            width: 100%;
            min-height: 110px;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;

            .escola-imagem {
                width: 90px;
                height: 90px;
                margin: 10px;
                background-size: cover;
                background-position: center center;
            }

            .escola-nome {
                flex: 1;
                padding-left: 10px;
                font-size: 19px;
                font-weight: 100;
                text-transform: uppercase;
            }
        }

        .escola-info-wrapper {
            height: 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            flex: 1;
            text-transform: uppercase;

            .ano-letivo {
                flex: 1;
                font-weight: 100;
                padding-left: 10px;
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-right: 10px;
            }

            .turma {
                flex: 1;
                justify-content: flex-end;
                padding-right: 10px;
                padding-left: 10px;
                font-weight: 100;
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: right;

                span {
                    margin-left: 5px;
                }
            }

            span {
                color: #5898a4;
                font-weight: 300;
            }
        }
    }
}
