escola-rect-container-component {
    escola-rect-component {
        width: 100%;
        height: 150px;
        display: block;
        position: relative;
        zoom: 0.8;
        box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);
    }
}
