horarios-rect-container-component {
    horarios-rect-component {
        width: 100%;
        height: 120px;
        display: block;
        position: relative;
        box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);
    }
}
