<div class="escola-wrapper">
    <div class="escola"
         *ngFor="let $escola of escolas"
         (click)="selectEscola($escola)"
         [ngClass]="{'selecionada': $escola.id_escola == escola.id_escola}">

        <div class="img-wrapper" [style.backgroundImage]="'url('+$escola.foto+')'"></div>
        <h5>Município</h5>
        <h4>{{$escola.nome}}</h4>
    </div>
</div>
