.escola-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .escola {
        width: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;

        &.selecionada {
            h4, h5 {
                background-color: #7ab8c3;
                color: white;
            }
        }

        .img-wrapper {
            width: 100%;
            height: 100px;
            background-color: #CCCCCC;
            background-size: cover;
            background-position: center center;
        }

        h5 {
            margin: 0;
            padding-top: 5px;
            font-weight: 500;
            font-size: 12px;
            color: #7c7c7c;
            display: inline-block;
            width: 100%;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
            text-align: center;
        }

        h4 {
            margin: 0;
            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 14px;
            color: #333;
            font-weight: 300;
            display: inline-block;
            width: 100%;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis;
            text-align: center;
        }
    }
}
