select-ano-letivo-component {
    .select-wrapper {
        width: 100%;
        height: 40px;
        background-color: #7ab8c3;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;

        span {
            &:first-child {
                font-size: 15px;
                color: #000;
                font-weight: 600;
            }

            &:last-child {
                margin-left: 8px;
                font-size: 20px;
                color: #ffffff;
                font-weight: 300;
            }
        }
    }
}
