login-form-component {

    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    img {
        margin-bottom: 25px;
    }

    .form-group {
        margin-bottom: 25px;
    }

    .input-wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        i {
            font-size: 22px;
            color: #fff;
        }

        input {
            flex: 1;
            margin-left: 5px;
            color: #ffffff;

            &::-webkit-input-placeholder {
                color: #ffffff;
            }
        }
    }

    input {
        background: transparent !important;
        border: 0px !important;
        border-bottom: 1px solid #fff !important;
        color: white;
    }

    .content {
        background-color: rgba(255, 252, 183, 0.62);
        background-size: cover;
        background-color: #00283c;

        .logo {
            margin-bottom: 20px;
        }

        .logo img {
            width: 100%;
            max-width: 250px;
        }
    }

    .alert {
        font-size: 12px;
        border: 0px;
        background: none;
        padding: 5px;
        padding-bottom: 0px;
    }

    .loginColumns {
        width: 100%;
        max-width: 350px;
        padding: 0;
        padding-top: 30px;

        .ibox-content {
            background-color: transparent;
            border: 0;
        }
    }

    button[type="submit"] {
        background: #00a465;
        border: 1px solid #00a465;
        padding: 9px;
        font-weight: 500;
        font-size: 15px;
    }

    button.btn.btn-link {
        color: white;
        font-size: 14px;
        font-weight: 300;
        margin-top: 10px;
    }

}

@media screen and (min-height: 500px) {
    login-form-component {
        .loginColumns {
            padding-top: 20px;
            padding-bottom: 0px;
        }

        .scroll-content {
            display: flex;
            align-items: center;
        }

        .content .logo {
            margin-bottom: 40px;
        }
    }
}
