<load *ngIf="loading"></load>

<div class="loginColumns animated fadeInDown tela_cheia">
    <form #form="ngForm" class="m-t" #form="ngForm" novalidate role="form">
        <div class="row">
            <div class="col-md-12 text-center logo">
                <img src="assets/images/logo-gde-mobile.png"/>
            </div>

            <div class="col-md-12">
                <div class="ibox-content">

                    <div class="form-group">
                        <div class="input-wrapper">
                            <i>@</i>
                            <input type="email"
                                   name="email"
                                   class="form-control"
                                   placeholder="E-mail"
                                   [(ngModel)]="usuario.email"
                                   required/>
                        </div>
                        <div *ngIf="form.submitted && !form.controls.login.valid" class="alert alert-danger"
                             role="alert">
                            Digite o nome de usuário
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-wrapper">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <input type="text"
                                   name="cpf"
                                   class="form-control"
                                   placeholder="CPF"
                                   [(ngModel)]="usuario.cpf"
                                   required/>
                        </div>

                        <div *ngIf="form.submitted && !form.controls.cpf.valid" class="alert alert-danger" role="alert">
                            Digite o CPF
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-wrapper">
                            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                            <input type="password"
                                   name="senha"
                                   class="form-control"
                                   placeholder="Senha"
                                   [(ngModel)]="usuario.senha"
                                   required/>
                        </div>

                        <div *ngIf="form.submitted && !form.controls.senha.valid" class="alert alert-danger"
                             role="alert">
                            Digite a senha
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row display-flex flex-direction-column center-all">
            <button type="submit" class="btn btn-primary block full-width m-b" (tap)="submit(form)">Entrar</button>
            <button type="button" class="btn btn-link">Perdi minha senha</button>
        </div>
    </form>
</div>
