<ion-header>
    <ion-navbar>

        <ion-title>
            <img width="50" src="assets/icon/icon-frequencia.png" alt="Escola icone"/>
            Lançamento de Notas
        </ion-title>

    </ion-navbar>
</ion-header>

<ion-content class="content bootstrap">

    <div class="filtro-header">
        <div class="filtro-escola">
            <escola-rect-container-component></escola-rect-container-component>
        </div>
        <div class="filtro-data">
            <rect-unidades-component></rect-unidades-component>
        </div>
    </div>

    <div class="title-wrapper">
        <div class="title">Lista de Alunos</div>
    </div>

    <usuario-grid-component [check]="false"></usuario-grid-component>
    <usuario-list-notas-component></usuario-list-notas-component>

</ion-content>
