lancamento-notas {

    ion-header {
        font-weight: 100;

        img {
            width: 28px;
            margin-right: 5px;
        }
    }

    ion-navbar {
        ion-icon {
            color: #5997a4;
        }
    }

    .title-wrapper {
        padding: 15px;
        padding-top: 10px;
        padding-bottom: 10px;

        .title {
            font-weight: 300;
            font-size: 22px;
            color: #7ab8c3;
            text-align: left;
            margin-bottom: 15px;
        }
    }

    .filtro-header {
        height: 140px;
        display: flex;
        flex-direction: row;

        .filtro-escola {
            flex: 1;
            margin: 10px;
        }

        .filtro-data {
            width: 110px;
            margin: 10px;
            margin-left: 0;
            position: relative;
        }
    }

    .scroll-content {
        background-color: #f3f4f7;
    }

}
