escola-filtro-modal-component {

    ion-navbar {
        span.button-inner {
            font-size: 22px;
            padding-right: 5px;
            padding-left: 5px;
            color: #5997a4;
        }
    }

}
