<ion-header>
    <ion-navbar>

        <ion-buttons start>
            <button ion-button icon-only (click)="dimiss(false)">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </ion-buttons>

        <ion-title>Escolas</ion-title>

    </ion-navbar>
</ion-header>

<ion-content>

    <escola-page [modal]="true" [textSaveButton]="'Salvar'"></escola-page>

</ion-content>
