<ion-header>
    <ion-navbar>

        <ion-title>
            <img width="50" src="assets/icon/icon-frequencia.png" alt="Escola icone"/>
            Registro de Conteúdo
        </ion-title>

    </ion-navbar>
</ion-header>

<ion-content class="content bootstrap">

    <div class="filtro-header">
        <div class="filtro-escola">
            <escola-rect-container-component></escola-rect-container-component>
        </div>

        <div class="filtro-data">
            <horarios-rect-container-component></horarios-rect-container-component>
        </div>
    </div>

    <div class="title-wrapper">
        <div class="title">Lista de Conteúdo</div>
    </div>

    <lista-registros-conteudos-component></lista-registros-conteudos-component>

</ion-content>
