lista-registros-conteudos-component {
    .registro {
        display: flex;
        flex-direction: row;
        padding: 0 15px 20px 15px;

        &:last-child {
            .status-line {
                display: none;
            }
        }

        .status-wrapper {
            width: 30px;
            position: relative;
            margin-right: 15px;

            .status {
                width: 30px;
                height: 30px;
                position: absolute;
                background-repeat: no-repeat;
                background-position: center center;
                -webkit-background-size: contain;
                background-size: contain;
                z-index: 1;
                display: flex;
                align-items: center;
                align-content: center;

                i {
                    color: white;
                    margin-left: auto;
                    margin-right: auto;
                }

                &.status-green {
                    background-image: url('../../../../assets/images/poliigon-green.png');
                }

                &.status-red {
                    background-image: url('../../../../assets/images/poliigon-red.png');
                    i {
                        display: none;
                    }
                }
            }

            .status-line {
                width: 3px;
                height: calc(100% - 2px);
                position: absolute;
                z-index: 0;
                background: #dddddd;
                left: 50%;
                margin-left: -1.5px;
                top: 25px;
            }
        }

        .registro-info {
            flex: 1;

            > div {
                &:first-child {
                    font-weight: 100;
                    font-size: 18px;
                }
                &:last-child {
                    font-size: 13px;
                    font-weight: 100;
                }
            }
        }
    }
}
