<div class="registro" *ngFor="let registro of registros">
    <div class="status-wrapper">
        <div class="status" [ngClass]="{'status-green': registro.status, 'status-red': !registro.status}">
            <i class="fa fa-check"></i>
        </div>
        <div class="status-line"></div>
    </div>
    <div class="registro-info">
        <div>{{registro.data}}</div>
        <div>{{registro.descricao}}</div>
    </div>
</div>

