.bootstrap {
    .row {
        display: block !important;
    }
}

.popover-content, .popover-ios .popover-content {
    overflow: hidden;
    width: 260px;
    max-height: 80%;
}

.sweet-alert.confirm-custom .sa-icon.sa-custom {
    width: 140px !important;
    height: 140px !important;
}

.sweet-alert.confirm-custom button {
    border-radius: 2px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sweet-alert.confirm-custom .sa-button-container {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10px;
}

.sweet-alert.confirm-custom button.cancel {
    background-color: #2890b7 !important;
}

.sweet-alert.confirm-custom {
    padding-bottom: 30px;
}

.sweet-alert.confirm-custom h2 {
    margin-bottom: 5px;
}

.btn-primary {
    background-color: #00a465 !important;
    border-color: #18a689 !important;
}

.display-flex {
    display: flex;
}

.center-all {
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}

.flex-5 {
    flex: 5;
}

.align-items-center {
    align-items: center;
}

.full-width {
    width: 100%;
}

.flex-wrap {
    flex-wrap: wrap;
}

.alert-danger {
    color: #bd4147;
}

@font-face {
    font-family: 'meatloaf_sketchedregular';
    src: url('../assets/font/meatloaf_sketched-webfont.woff2') format('woff2'),
         url('../assets/font/meatloaf_sketched-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
