escola-page {

    ion-content .scroll-content {
        padding-bottom: 30px;
    }

    .toolbar-ios ion-title {
        padding: 0;
    }

    .component-title {
        font-weight: 300;
        font-size: 22px;
        color: #7ab8c3;
        text-align: center;
        margin-bottom: 15px;
    }

    button.btn.btn-primary {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }

    .button-wrapper {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;

        button {
            box-shadow: none;
            border-radius: 2px;
        }
    }

}
