<ion-header *ngIf="!modal">
    <ion-navbar>

        <ion-title>
            <img width="50" src="assets/icon/escola-icon.png" alt="Escola icone"/>
            Escolha a escola
        </ion-title>

    </ion-navbar>
</ion-header>

<ion-content class="content bootstrap">

    <load *ngIf="loading"></load>

    <select-ano-letivo-component></select-ano-letivo-component>

    <div class="component-title m-t animated fadeInUp">
        Minhas escolas
    </div>

    <div class="animated fadeInUp">
        <escola-grid-component></escola-grid-component>
    </div>

    <div *ngIf="escolaFiltro.escola" class="component-title m-t-lg animated fadeInUp">
        Minhas Turmas
    </div>

    <div class="animated fadeInUp">
        <turma-grid-component></turma-grid-component>
    </div>

    <div class="button-wrapper">
        <button ion-button block
                *ngIf="escolaFiltro.isValid()"
                (tap)="escolaMediator.loginEscola()"
                class="btn btn-primary">
            {{textSaveButton}}
        </button>
    </div>

</ion-content>
