lancamento-notas-detalhes-page {

    .scroll-content {
        background-color: #f3f4f7;
    }

    .user-header {
        height: 120px;
        width: 100%;
        display: flex;
        background-color: #1699a6;

        .button-wrapper {
            display: flex;
            align-items: center;
            min-width: 70px;
            justify-content: center;
            font-size: 30px;
            color: white;
        }

        .user-image {
            flex: 1;

            .image {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                position: absolute;
                left: 50%;
                margin-left: -60px;
                top: 30px;
                border: 1px solid white;
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }
    }

    .user-name {
        text-align: center;
        padding-top: 40px;
        font-size: 18px;
        font-weight: 300;
    }

    .filtro-header {
        height: 140px;
        display: flex;
        flex-direction: row;
        margin-top: 16px;

        .filtro-escola {
            flex: 1;
            margin: 10px;

            escola-rect-component {
                width: 100%;
                height: 150px;
                display: block;
                position: relative;
                zoom: 0.8;
                box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);
            }
        }

        .nota-wrapper {
            width: 110px;
            margin: 10px;
            margin-left: 0;
            box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;

            > div {
                text-align: center;

                &:first-child {
                    font-size: 18px;
                    font-weight: 300;
                    text-transform: uppercase;
                }

                &:last-child {
                    font-size: 28px;
                    font-weight: 400;
                }
            }
        }
    }

}
