<ion-content class="content bootstrap">

    <div class="user-header">
        <div class="button-wrapper" (click)="goBack()">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="user-image">
            <div class="image" [ngStyle]="{'background-image': 'url(' + usuario.foto + ')'}"></div>
        </div>
    </div>

    <div class="user-name">{{usuario.nome}}</div>

    <div class="filtro-header">
        <div class="filtro-escola">
            <escola-rect-component></escola-rect-component>
        </div>
        <div class="nota-wrapper">
            <div>Média</div>
            <div>{{usuario.media_geral}}</div>
        </div>
    </div>

    <usuario-unidades-component [usuario]="usuario"></usuario-unidades-component>

</ion-content>
