rect-unidades-component {
    .rect-unidades-container {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    .unidade-nome {
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        padding: 16px;
        padding-top: 0;
    }

    .unidade-button {
        button {
            background-color: #7ab8c3;
            color: #ffffff;
            padding: 10px;
            padding-left: 16px;
            padding-right: 16px;
            font-size: 12px;
            border-radius: 2px;
        }
    }
}
