<div class="rect-unidades-container">
    <div class="unidade-nome">{{unidade ? unidade.nome : 'Lançamento para Turma'}}</div>
    <div class="unidade-button">
        <button (click)="escolherUnidade()">Entrar</button>
    </div>
</div>
