$arrowHeight: 80px;
$arrowWidth: 24px;

home-menu-component {

    .menu-wrapper {
        overflow: auto;
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-top: 25px;
        position: absolute;
    }

    .menu-item-wrapper {
        width: 96%;
        margin-left: 2%;
        display: flex;
        flex-direction: row;
        min-height: 80px;
        max-height: 80px;
        margin-bottom: 25px;

        .menu-item {
            flex: 1;
            background-color: #5898a4;
            display: flex;

            .icon-wrapper {
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: 10;

                    &.icon-frequencia {
                        margin-left: -23px;
                        margin-top: -24px;
                        width: 46px;
                    }

                    &.icon-lancamento-notas {
                        width: 40px;
                        margin-left: -20px;
                        margin-top: -37.5px;
                    }

                    &.icon-registro-conteudo {
                        margin-left: -20px;
                        margin-top: -30px;
                        width: 40px;
                    }
                }
            }

            .span {
                margin-left: 50px;
                display: flex;
                align-items: center;
                font-size: 16px;
                font-weight: 100;
                color: white;
                text-transform: uppercase;
            }
        }

        .arrow {
            width: 0;
            height: 0;
            border-top: $arrowHeight/2 solid transparent;
            border-bottom: $arrowHeight/2 solid transparent;
            position: relative;
        }

        .inner-left-triangle {
            position: absolute;
            top: 0px;
            left: -($arrowWidth+1px);
            width: 0;
            height: 0;
            border-top: (($arrowHeight/2) + 3px) solid transparent;
            border-bottom: (($arrowHeight/2) + 3px) solid transparent;
            border-right: ($arrowWidth + 1px) solid #1b606d;
            z-index: 9;
        }

        .inner-right-triangle {
            position: absolute;
            top: 0px;
            right: -($arrowWidth+1px);
            width: 0;
            height: 0;
            border-top: (($arrowHeight/2) + 3px) solid transparent;
            border-bottom: (($arrowHeight/2) + 3px) solid transparent;
            border-left: ($arrowWidth+1px) solid #1b606d;
            z-index: 9;
        }

        .arrow-rigth {
            border-left: $arrowWidth solid #5898a4;
        }

        .arrow-left {
            border-right: $arrowWidth solid #5898a4;
        }
    }

    .hexagon {
        min-width: 50px;
        max-width: 50px;
        height: 90px;
        position: relative;
        left: 12px;
        top: -4px;
        background: #1b606d;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }

    .hexagon:before {
        content: "";
        position: absolute;
        bottom: 0px;
        right: -($arrowWidth+2px);
        width: 0;
        height: 0;
        border-top: 45px solid transparent;
        border-bottom: 45px solid transparent;
        border-left: ($arrowWidth+2px) solid #ffffff;
    }

    .hexagon:after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: -($arrowWidth+2px);
        width: 0;
        height: 0;
        border-top: 45px solid transparent;
        border-bottom: 45px solid transparent;
        border-right: ($arrowWidth+2px) solid #ffffff;
    }

}
