<div class="menu-wrapper">

    <div class="menu-item-wrapper animated fadeInUp"
         *ngFor="let menuItem of menuItems; let i = index;"
         [ngStyle]="{'animation-delay':  (i/8)+'s', 'animation-duration': '0.5s'}"
         (click)="selectMenuItem(menuItem)">

        <div class="arrow arrow-left"></div>

        <div class="menu-item">
            <div class="icon-wrapper hexagon">
                <div class="inner-left-triangle"></div>
                <img class="{{menuItem.iconClass}}" [src]="menuItem.icone"/>
                <div class="inner-right-triangle"></div>
            </div>
            <div class="span">
                {{menuItem.nome}}
            </div>
        </div>
        <div class="arrow arrow-rigth"></div>
    </div>

</div>
