<div class="horarios-wrapper" (click)="click()">
    <div class="data">
        <div class="titulo">Data</div>
        <span>{{data}}</span>
    </div>

    <div class="horarios">
        <div class="titulo">Horários</div>
        <div class="btn-wrapper" *ngIf="!horarios || !horarios.length">
            <button type="button">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
        <div class="horario" *ngFor="let horario of horarios">
            {{horario.nome}}
        </div>
    </div>
</div>
