horarios-rect-component {

    .horarios-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;

        .data {
            padding-top: 10px;
            height: 55px;

            span {
                font-size: 14px;
                font-weight: 100;
                color: #5898a4;
                width: 100%;
                text-align: center;
                display: block;
                margin-top: 5px;
            }
        }

        .horarios {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .horario {
                text-align: center;
                font-size: 12px;
                font-weight: 100;
                color: #5898a4;
            }
        }
    }

    .btn-wrapper {
        display: block;
        text-align: center;
        margin-bottom: 10px;

        button {
            width: 22px;
            height: 20px;
            background-color: #5898a4;
            border: 0px;
            margin-top: 5px;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                color: #ffffff;
                font-size: 12px;
                height: 9px;
            }
        }
    }

    .titulo {
        font-size: 12px;
        font-weight: 500;
        text-align: center;
    }
}
