<ion-header>
    <ion-navbar>

        <ion-buttons start>
            <button ion-button icon-only (click)="dimiss(false)">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </ion-buttons>

        <ion-title>Horários</ion-title>

    </ion-navbar>
</ion-header>

<ion-content>

    <div class="horarios-modal-wrapper animated fadeInUp">

        <ion-item class="data-wrapper">
            <ion-label>Data</ion-label>
            <ion-datetime
                displayFormat="DD/MM/YYYY"
                [(ngModel)]="data"></ion-datetime>
        </ion-item>

        <ion-list>
            <ion-item *ngFor="let horario of turma.horarios; let i = index;">
                <ion-label>{{ horario.nome }}</ion-label>
                <ion-checkbox [(ngModel)]="horarios[i]"></ion-checkbox>
            </ion-item>
        </ion-list>

    </div>

    <div class="button-wrapper">
        <button ion-button block class="btn btn-primary" (click)="dimiss(true)">Filtrar</button>
    </div>

</ion-content>
