horarios-modal-component {

    ion-header {
        button[ion-button] {
            padding: 0;
            padding-right: 5px !important;
            padding-left: 5px !important;

            i {
                font-size: 21px;
                color: #5997a4;
            }
        }
    }

    .scroll-content {
        background-color: #f3f4f7;
    }

    .horarios-modal-wrapper {
        background: #fff;
        margin-top: 15px;
        border-top: 1px solid #dedede;
        border-bottom: 1px solid #dedede;

        ion-checkbox {
            margin-left: 0px;
            padding-left: 0px;
        }

        ion-item {
            border-color: #d7d7d7 !important;

            .item-inner {
                border-color: #dedede !important;
            }
        }

        .data-wrapper {
            .item-inner {
                padding-top: 5px;
                padding-bottom: 5px;
                border: 0px !important;
            }
        }

        .scroll-content {
            background: #f3f4f7;
        }

    }

    .button-wrapper {
        width: 80%;
        margin-top: 15px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    button.btn.btn-primary {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }

}
