load {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    z-index: 999999;

    > div {

        position: absolute;
        left: 50%;
        width: 22px;
        margin-left: -30px;
        top: 50%;
        margin-top: -30px;
        height: 22px;
        background: white;
        padding: 30px;
        border-radius: 5px;

        > div {
            left: 50%;
            top: 50%;
            position: absolute !important;
            margin-top: -11px !important;
            margin-left: -11px !important;
        }

    }
}
